<h1>Dogs in Database</h1>
<% @dogs.each do |d| %> <!-- Iterates through each user under the variable u -->
  Name: <p> <%= link_to d.name, dogs_path(d) %> </p> <!-- Show the users name-->
  Age : <p> <%= d.age %> </p> <!-- Show the users email -->
<% end %>
<%= link_to "new", dogs_new_path %> <!-- Create a link that appears as "new" that leads to users_new_path -->

